body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #1c1c1c;
    padding: 20px;
    font-size: 1.5em;
}

.search-area {
    margin: 20px;
}

input, select, button {
    padding: 10px;
    font-size: 1em;
    margin: 5px;
}

button {
    background-color: #008080;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005757;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.result-card {
    background-color: #1c1c1c;
    padding: 15px;
    margin: 10px;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 2px 2px 10px rgba(0, 255, 255, 0.2);
}

.result-card h3 {
    margin-top: 0;
    color: #00ced1;
}

.result-card img {
    width: 100%;
    border-radius: 5px;
}
